API_HOST="http://localhost:8000"
API_PREFIX=/api
API_VERSION=v1

AMQP_ENABLED=true
EVENT_TYPES_TO_PROCESS=["created", "deleted", "updated", "unchanged"]

ES_ENABLED=true
ES_HOST="http://localhost"
ES_PORT=9200
ES_USER="elastic"
ES_PASSWORD="elastic"
ES_INDEXES='{"source_records": {"index_name": "source_records_index"}}'

ORG_REGISTRY_URL="http://localhost:3000"

EMAIL_UNPAYWALL = "test@test.com"

